$sidebarWidth: 60px;

.sidebar-container {
  width: $sidebarWidth;
  padding: 5px;
  position: absolute;
  border: 1px solid $darkBlue;
  border-radius: 3px;
  background: $grey;
  // Half of vh - height / 2
  top: calc(50vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }

  .icon {
    color: $blue;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $darkBlue;
    }
  }

  .sidebar-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;

    .fa-lg {
      font-size: 1rem;
    }
  }

  .sidebar-main {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 50vh;
    opacity: 1;
    transition: max-height 0.5s;

    &.hide {
      max-height: 0;
      opacity: 0;
      margin: 0;
    }

    .icon {
      width: 100%;
      margin-bottom: 15px;
      display: flex;
      align-items: center;

      &:last-of-type {
        margin-bottom: 5px;
      }
      
      .fa-lg {
        width: 30px;
        margin: auto;
        font-size: 2rem;
      }

      &.active {
        color: $darkBlue;
      }
    }

    .color-picker {
      position: absolute;
      left: $sidebarWidth;
      display: none;
      opacity: 0;
      transition: opacity 0.3s;
      z-index: 5;

      &.active {
        display: initial;
        opacity: 1;
      }
    }
  }
}